@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-align-element {
    @apply mx-auto max-w-7xl px-10;
  }
  .app-center-element {
    @apply flex flex-row justify-center items-center;
  }
}

@layer base {
  @font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Comfortaa/Comfortaa-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Comfortaa/Comfortaa-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Regular.woff2) format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Bold.woff2) format("woff");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}